#BackGround{
    background-color: #dacfa5;
}

#post {
    width: auto;
    height: auto;
    background-color: #eee0b8;
    border: 1px  #000000;
    border-radius: 10px;
    padding: 50px;
    margin: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#TextInsidePost{
    text-align: left;
    color: rgb(75, 71, 71);
    font-family: 'Source Sans Pro';font-size: 22px;
}

#TextInsert{
    width: 200px;
    height: 100px;
    background-color: #eee8d5;
    border: 1px solid #000000;
    border-radius: 3%;
    padding: 10px;
    margin: 20px;
}

textarea{
    width: auto;
    height: auto;
    background-color: #eee0b8;
    border: 1px  #000000;
    border-radius: 10px;
    padding: 50px;
    margin: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#PostButton{
    color: green;

    font-size: large;
}

#postButton{ /*the one inside the post box to submit*/
    color: green;

    font-size: large;
    display: none;

}