


.main{
    width: 75%;
    background: white;

    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px;
}
.inputs{
    margin-left: 20%;
    
   
}
h1{
   padding-top: 5%;
    margin-left: 15%;
}

.mb-3{
    
    height: 30px;
    width: 73%;
    border-radius: 10px;
    border-width: 5px;
    
}

.d-flex{
    margin-top: 5%;

}
.col6{
  
    align-items: center;
    width: 42%;
}
.text{
    text-align: left;
}


.lowMiddle{
    display: flex;
    align-items: center;
   margin-left: 20%;
   
}

.ps-3{
    margin-bottom: 5%;
   margin-left: 7%;
}

.mb-2{
    
    height: 30px;
    width: 73%;
    border-radius: 10px;
    border-width: 5px;
}

.btn-primary{
    margin-top: 5%;
    margin-left: 10%;
    padding-bottom: 5%;
    
}
.btn{
    background: white;
   width: 75%;
   border-radius: 10px;
   border-width: 5px;
   height: 30px;
   text-align: left;
}
.input{
    height: 30px;
    width:35%;
    min-width: 100px;
    border-radius: 10px;
    border-width: 5px;
}
